<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8" />
         <meta name="viewport" content="width=device-width" />
         <title>@ViewBag.Title</title>
         @Styles.Render("~/Content/bootstrapcss")
        
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
             <a class="navbar-brand" href="~/Home/Index">Github release documentation</a>
            @Html.Partial("_LoginPartial")
        </nav>
     <div class="container">
         <div class="row"> 
            
         </div>
         <div class="row">
            @Html.Partial("_Flash")
         </div>
        <div class="row">
            @RenderSection("featured", required: false)
        </div> 
        <div class="row">
            @RenderBody()
        </div>
     </div>
     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrapjs")
  
     @RenderSection("JavaScript", required: false)
     @RenderSection("Scripts", required: false)
    </body>
</html> 