@model bootstrap_git_auto_notes.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Associate your @ViewBag.ProviderDisplayName account.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
            Please enter a user name for this site below and click the Confirm button to finish
            logging in.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        @Html.HiddenFor(m => m.login)
        @Html.HiddenFor(m => m.id)
        @Html.HiddenFor(m => m.avatar_url)
        @Html.HiddenFor(m => m.gravatar_id)
        @Html.HiddenFor(m => m.url)
        @Html.HiddenFor(m => m.html_url)
        @Html.HiddenFor(m => m.followers_url)
        @Html.HiddenFor(m => m.following_url)
        @Html.HiddenFor(m => m.gists_url)
        @Html.HiddenFor(m => m.starred_url)
        @Html.HiddenFor(m => m.subscriptions_url)
        @Html.HiddenFor(m => m.organizations_url)
        @Html.HiddenFor(m => m.repos_url)
        @Html.HiddenFor(m => m.events_url)
        @Html.HiddenFor(m => m.received_events_url)
        @Html.HiddenFor(m => m.type)
        @Html.HiddenFor(m => m.site_admin)
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
